<?php
include "../paths.php";
?>
<!DOCTYPE html>
<html>
    <head>
        <title>MagiciansBattle - Official Website</title>
        <link rel="shortcut icon" type="image/png" href="<?= $paths["siteDist"] ?>/images/favicon.png" />
        <link rel="stylesheet" href="<?= $paths["base"] ?>/bower_components/components-font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="<?= $paths["siteDist"] ?>/styles/style.css" />
        <script src="<?= $paths["base"] ?>/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="<?= $paths["base"] ?>/bower_components/foundation-sites/dist/foundation.min.js"></script>
        <script src="<?= $paths["base"] ?>/bower_components/angular/angular.min.js"></script>
        <script src="<?= $paths["base"] ?>/bower_components/angular-route/angular-route.min.js"></script>
        <script src="<?= $paths["base"] ?>/bower_components/angular-css/angular-css.min.js"></script>
        <script src="<?= $paths["base"] ?>/bower_components/angular-css/angular-css.min.js"></script>
        <script src="<?= $paths["base"] ?>/bower_components/angular-css/angular-css.min.js"></script>
        <script src="<?= $paths["base"] ?>/vendor/gos/web-socket-bundle/resources/public/js/vendor/autobahn.min.js"></script>
        <script src="<?= $paths["base"] ?>/vendor/gos/web-socket-bundle/resources/public/js/gos_web_socket_client.js"></script>
        <script src="<?= $paths["siteDist"] ?>/script.js"></script>
    </head>
    <body ng-app="magiciansBattle" ng-controller="mainCtrl">
        <div id="top" class="show-for-large">
            <div id="login-bar" ng-controller="loginBarCtrl">
                <div ng-show="loggedIn() !== null">
                    <div id="login-links" ng-show="!loggedIn()">
                        <a id="login-btn" data-open="login-modal">LOG IN</a>
                        <a id="register-btn" data-open="register-modal">SIGN UP</a>
                    </div>
                    <div id="user-panel" ng-show="loggedIn()">
                        <div class="title" ng-click="toggleTooltip()">
                            <img class="user-icon" src="<?= $paths["siteDist"] ?>/images/user-icon.png">
                            <b>{{getUser().displayName}}</b>
                            <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="userMenu">
                            <div style="overflow: auto;">
                                <div class="triangle"></div>
                            </div>
                            <div class="content">
                                <a ng-click="logout()">Disconnect</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="navbar-init">
                <div class="row column">
                    <nav id="navbar" class="top-bar">
                        <div class="top-bar-title">
                            <a href="#/"><img id="logo" src="<?= $paths["siteDist"] ?>/images/logo.png" /></a>
                        </div>
                        <div class="top-bar-left">
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li>
                                    <a href="#">Play</a>
                                </li>
                                <li>
                                    <a href="#">News</a>
                                </li>
                                <li>
                                    <a href="#">The Game</a>
                                    <ul class="menu">
                                        <li><a href="#lobby">Lobby</a></li>
                                        <li><a href="#">Guide</a></li>
                                        <li><a href="#">Cards Explorer</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Community</a>
                                    <ul class="menu">
                                        <li><a href="#forum">Forum</a></li>
                                        <li><a href="#chat">Chat</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Support</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <nav id="small-navbar" class="hide-for-large">
            <div class="open-menu-btn-init">
                <button class="menu-icon" data-open="small-navbar-modal"></button>
            </div>
            <img id="small-logo" src="<?= $paths["siteDist"] ?>/images/logo.png" />
        </nav>
        <div class="full reveal" id="small-navbar-modal" data-reveal>
            <ul class="vertical menu" data-accordion-menu ng-controller="loginBarCtrl">
                <li>
                    <a href="#">Play</a>
                </li>
                <li>
                    <a href="#">News</a>
                </li>
                <li>
                    <a href="#">The Game</a>
                    <ul class="vertical menu nested">
                        <li><a href="#">Guide</a></li>
                        <li><a href="#">Cards Explorer</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Community</a>
                </li>
                <li>
                    <a href="#">Support</a>
                </li>
                <li ng-show="loggedIn() !== null">
                    <div class="login-links" ng-show="!loggedIn()">
                        <a data-open="login-modal">Login</a>
                        <a data-open="register-modal">Sign Up</a>
                    </div>
                    <div class="user-panel" ng-show="loggedIn()">
                        <img class="user-icon" src="<?= $paths["siteDist"] ?>/images/user-icon.png">
                        <b>{{getUser().displayName}}</b>
                    </div>
                </li>
                <li ng-show="loggedIn()">
                    <a ng-click="logout()">Logout</a>
                </li>
            </ul>

            <button class="close-button" data-close aria-label="Close modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="reveal" id="login-modal" data-reveal ng-controller="loginCtrl">
            <h2>
                <div class=" show-for-small-only">
                    <img class="logo" src="<?= $paths["siteDist"] ?>/images/logo.png">
                    <hr>
                </div>
                Login
                <hr class="show-for-medium">
            </h2>

            <form>

                <label><b>Email:</b>
                    <input text-field field-name="email">
                </label>


                <label><b>Password:</b>
                    <input text-field field-name="password" field-type="password">
                    <p class="help-text"><a href="#" class="forgot-password-btn">Forgot Password?</a></p>
                </label>
                <div general-errors></div>
                <div style="text-align: center;">
                    <button class="button" ng-click="login()" ng-show="!loading">Login</button>
                    <div class="loader" ng-show="loading"></div>
                </div>

            </form>
            <button class="close-button" data-close aria-label="Close modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="reveal" id="register-modal" data-reveal ng-controller="registerCtrl">
            <h2>
                <div class="show-for-small-only">
                    <img class="logo" src="<?= $paths["siteDist"] ?>/images/logo.png">
                    <hr>
                </div>
                Sign Up
            </h2>
            <hr class="show-for-medium">
            <form ng-if="!accountCreated">
                <label><b>Email:</b>
                    <input text-field field-name="email" field-description="Has to be a valid email. Will be used to login to the game.">
                </label>

                <label><b>Display Name:</b>
                    <input text-field field-name="displayName" field-description="Display name may contain English characters, numbers, underscores and dots.">
                </label>

                <label><b>Password:</b>
                    <input text-field field-name="password" field-type="password" field-description="Password must be at least 6 characters long.">
                </label>
                <label><b>Re-enter Password:</b>
                    <input text-field field-name="passwordConfirm" field-type="password">
                </label>
                <div class="submit-init">
                    <button class="button" ng-click="register()" ng-show="!loading">Sign Up</button>
                    <div class="loader" ng-show="loading"></div>
                </div>

            </form>
            <div ng-if="accountCreated" class="callout success accountCreatedMsg">
                <h3>Congratulations!</h3>
                Your account <b>{{fields.email}}</b> was successfully created.
            </div>
            <button class="close-button" data-close aria-label="Close modal">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div id="view">
            <div ng-view></div>
        </div>
    </body>
</html>