<md-dialog aria-label="Sign Up">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Sign Up</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close dialog">
                    <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width: 500px; max-height: 810px; ">
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Username</label>
                    <input ng-model="fields.UserName">

                    <div class="error" ng-messages="serverErrors" md-auto-hide="false">
                        <p ng-message="a">dsadsad</p>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer('useful')" style="margin-right:20px;">
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>