@import 'foundationSettings';
@import 'foundation';

@include foundation-everything;


@import "config";
@import "topBar";
@import "login";
@import "register";


@font-face {
    font-family: "Medio";
    src: url("#{$fonts-path}/medio-webfont.eot"), url("#{$fonts-path}/medio-webfont.ttf");
}

*, h2, h3 {
    font-family: Medio;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #236d98;
    cursor: pointer;
}

a:hover {
    color: #368ABA;
}

#view {
    top: $login-bar-height;
    background: url("#{$images-path}/content-bg.png") center center repeat-y;
    background-size: map-get($breakpoints, medium) auto;
    @media #{$medium-up} { 
        background-size: 100% auto;
    }
}

.loader {
    display: inline-block;
    background-image: url("#{$images-path}/loader.gif");
    background-size: 100%;
    width: 25px;
    height: 25px;
}
.label {
    font-size: inherit;
    border-radius: 7px;
    padding: 1px 8px;
}
.reveal:focus {outline:0;}
.errors {
    color: #BA0D24 !important;
}