@import "config";

#top {
    position: fixed;
    top: 0px;
    width: 100%;
}

#top-bar {
    line-height: $top-bar-height;
    background-color: #000;
    border-bottom: 2px solid #236d98;
    box-sizing: border-box;
    text-align: right;
    padding-right: 30px;

    ::-webkit-input-placeholder {
        color: #777;
    }

    input {
        font-size: 14px;
        padding: 5px;
        box-shadow: inset 0px 0px 1px #000;
        border: 1px solid #333;
        background-color: #333;
        text-align: center;
        width: 160px;
        margin-right: 3px;
        color: #fff;
    }

    a {
        font-size: 16px;
        font-weight: bold;
    }

    #login-form {
        .fields-wrapper {
            display: inline-block;
            position: relative;

            .login-msg {
                position: absolute;
                width: 100%;
                height: 50px;
                border: 1px solid #444;
                background-color: #222;
                box-sizing: border-box;
                padding: 5px;
                text-align: left;
                color: #9f0000;
                font-size: 13px;
                line-height: 15px;
            }
        }

        .user-panel {
            color: #fff;
            .user-options-btn svg {
            }
        }

        .login-btn {
            position: relative;
            display: inline-block;
            margin-right: 10px;
            width: 60px;

            .loader {
                display: inline-block;
                width: 15px;
                height: 15px;
            }
        }

        .register-btn {
            color: #189c47;
        }
        .user-menu-btn {
            fill: #ffffff;
        }
    }
}

#navbar {
    background-color: rgba(30, 30, 30, 0.9);
    border-bottom: 1px solid #777;

    nav {
        width: $content-width;
        margin: 0 auto;
        height: $navbar-height;

        .logo {
            margin-top: 10px;
            height: $navbar-height - 20px;
            float: left;
        }

        ul.nav {
            float: left;
            list-style: none;
            margin: 0px;

            > li {
                position: relative;
                float: left;

                > a {
                    display: block;
                    font-size: 25px;
                    text-decoration: none;
                    color: #fff;
                    line-height: $navbar-height - 15px;
                    margin-top: 15px;
                    padding: 0px 18px;
                }

                > a:hover {
                    color: #db4319;
                }

                > ul {
                    display: none;
                    position: absolute;
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    background-color: rgba(30, 30, 30, 0.8);
                    width: 200px;
                    border-top: 1px solid #db4319;

                    a {
                        display: block;
                        font-size: 20px;
                        text-decoration: none;
                        color: #fff;
                        padding: 15px 25px;
                        border-bottom: 1px solid #222;
                    }

                    li:not(:first-child) a {
                        border-top: 1px solid #505050;
                    }

                    a:hover {
                        color: #db4319;
                    }
                }
            }

            > li:hover ul {
                display: block;
            }
        }
    }
}
